[flake8]
max-line-length = 88
extend-ignore =
	E203, # Whitespace before ':'
	E501, # Line too long
	W503, # Line break occurred before a binary operator
	W504, # Line break occurred after a binary operator
 exclude =
	./test,
	setup.py,
